%main-font {
     font-family: "Arial";
     font-weight: 900;
     background-color: #ffff00;
}

%thumbnail-title {
    text-align: left;
    text-transform: uppercase;
    font-size: 20px;
    background-color: #ffff00;
}


%thumbnail-brief {
    text-align: left;
    font-size: 14px;
    background-color: #ffff00;
}

// Classes
.large-block-font {
    text-align: left;
    font-size: 28px;
    margin-bottom:0px;
    background-color: #ffff00;
}


.font-medium-title {
    text-align: left;
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 10px;
    background-color: #ffff00;
 }

 .font-equation {
     text-align: center;
     text-transform: uppercase;
     font-size: 24px;
     background-color: #ffff00;
  }

// Classes
.title-font {
    text-align: left;
    text-transform: uppercase;
    font-size: 48px;
    background-color: #ffff00;
}

.font-description {
    font-size: 18px;
    text-align: justify;
    background-color: #ffff00;
}


.font-small {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom:0px;
    background-color: #ffff00;
}
.super-large-single {

    font-size: 62px;
    background-color: #ffff00;
}
%shrinking-text {
    font-size:16px;
    background-color: #ffff00;
    @media screen and (max-width: 1550px) {
        font-size:16px;
    }

    @media screen and (max-width: 1350px) {
        font-size:16px;
    }

    @media screen and (max-width: 1190px) {

    }

    @media screen and (max-width: 620px) {


    }
}
