@import "colors.scss";
@import "font.scss";

body {
    background-color:$mainYellow;
     @extend %main-font;

     ul {
         list-style: none;
     }
}
#site-container  {

    text-align: center;
}


header  {

    .logo-container {

        img {
            height:auto;
            width:150px;
        }
    }
}
