@import "colors.scss";
@import "font.scss";

body {
    background-color:$mainYellow;
    margin:0px;
     @extend %main-font;

     ul {
         list-style: none;
     }


     .bloc-left {

         .large-block-font {
             text-align:left;
         }
         text-align:left;
     }
     .bloc-right {

         .large-block-font {
             text-align:right;
         }
         text-align:right;
     }


}

#site-container  {
    margin-left:30px;
    margin-right:30px;

    position: relative;
    @media only screen and (max-width: 500px) {

        padding-top: 60px;
    }
    .know-more {
        cursor:pointer;
        margin-top: 50px;
        margin-bottom: 50px;
        .plus-to-know-more {
            margin-left:120px;
        }
    }


    text-align: left;
}


header  {

    .logo-container {
        img {

            height:auto;
            width:150px;
        }
    }
}
