@import "font.scss";
body {
    .grid  {
        display: flex;
        flex-wrap: wrap;
        max-width: 85%;

        .grid-item {
            text-align: left;
            width:330px;
            margin-right: 50px;
            margin-bottom:25px;
            position: relative;

            @media (max-width:680px) {

            }
            a:link, a:visited, a:hover, a:active  {
                color:$mainBlack;
                text-decoration:none;
            }

            .grid-thumbnail {
                height:180px;
                width:330px;
                &:hover {
                    opacity:0.75;
                }
                &.square {
                    height:330px;
                    width:330px;
                }
            }

            .black-box {
                /*
                position:absolute;
                top: 0px;
                height:180px;
                width:330px;
                background-color: rgba(0,0,0,0.5);
                transition:all 0.55s;
                &.square {
                    height:330px;
                    width:330px;
                }
                &.hover-grid {
                    height: 0px;
                    width:0px;
                    margin-left:160px;
                    margin-top:90px;

                }
                */
            }

            h4 {
                @extend %thumbnail-title;
                margin-top:10px;
                margin-bottom:10px;
            }

            .grid-brief {
                @extend %thumbnail-brief;
                p {
                    margin-top:0px;
                }
            }

        }

    }
}

body {
    .grid2 {
        display: flex;
        justify-content: space-between;

        .left-box,
        .right-box {
            width: 48%;
        }
    }
}
