@import "font.scss";
body {
    .grid  {

        display: flex;
        flex-wrap: wrap;
        margin-left: -1.5%;
        margin-right: -1.5%;
        // max-width: 85%;
        @media screen and (max-width: 1190px) {
            margin-left: -2.5%;
            margin-right: -2.5%;
            // max-width: 85%;

        }
        @media screen and (max-width: 700px) {
            margin-left:0px;
            margin-right:0px;

        }

        &.four-grid {
            margin-left: -1%;
            margin-right: -1%;

            @media screen and (max-width: 1000px) {
              margin-left: -1.5%;
              margin-right: -1.5%;
                // max-width: 85%;

            }
            @media screen and (max-width: 700px) {
              margin-left: -2.5%;
              margin-right: -2.5%;

            }
            @media screen and (max-width: 500px) {
                margin-left:0px;
                margin-right:0px;

            }
        }
        .cell  {



            width: 30%;
            margin-right:1.5%;
            margin-left:1.5%;

            @media screen and (max-width: 1190px) {
                margin-right:2.5%;
                margin-left:2.5%;
                width: 45%;
            }

            @media screen and (max-width: 700px) {
                width: 100%;
                margin-right:0%;
                margin-left:0%;

            }


            &.four-cell {
                width:23%;
                margin-right:1%;
                margin-left:1%;

                @media screen and (max-width: 1000px) {
                  width: 30%;
                  margin-right:1.5%;
                  margin-left:1.5%;
                }

                @media screen and (max-width: 700px) {
                  margin-right:2.5%;
                  margin-left:2.5%;
                  width: 45%;

                }
                @media screen and (max-width: 500px) {
                    width: 100%;
                    margin-right:0%;
                    margin-left:0%;

                }
            }
        }
        .grid-item {

            width:100%;
            text-align: left;
            margin-right: 50px;

            position: relative;
            margin-bottom: 20%;

            @media  screen and(max-width:700px) {
                margin-bottom: 25px;
            }
            a:link, a:visited, a:hover, a:active  {
                color:$mainBlack;
                text-decoration:none;
            }
            .thumbnail-grid-div {

                background-color: #eee;
                background-position: center;
                background-size: cover;
                padding-bottom: 56.25%;

            }
            // For Image
            .grid-thumbnail {
                width: 100%;

                &:hover {
                    opacity:0.75;
                }
                &.square {
                    height:330px;
                    width:330px;
                }
            }

            .black-box {
                /*
                position:absolute;
                top: 0px;
                height:180px;
                width:330px;
                background-color: rgba(0,0,0,0.5);
                transition:all 0.55s;
                &.square {
                    height:330px;
                    width:330px;
                }
                &.hover-grid {
                    height: 0px;
                    width:0px;
                    margin-left:160px;
                    margin-top:90px;

                }
                */
            }

            h4 {
                @extend %thumbnail-title;
                @extend %shrinking-text;

                margin-top:10px;
                margin-bottom:10px;
            }

            .grid-brief {
                @extend %thumbnail-brief;
                p {
                    margin-top:0px;
                }
            }

        }

    }
}

body {
    .grid2 {
        display: flex;
        justify-content: space-between;

        .left-box,
        .right-box {
            width: 48%;
        }
    }
}

/* Custom Gris  */

body {

    .custom-grid {

        .custom-grid-item {
            width: 25%;
            @media screen and (max-width: 780px) {
                background-color:red;
                width:100%;
             }
        }

        .custom-grid-item-small {


            margin:0 auto;
            display: block;
            background-color:$mainYellow;

            display: inline-block;
            position: relative;
            width: 10%;
            @media screen and (max-width: 800px) {
                height:  30px;
                display: inline-block;
                width: 100%;
            }
            h4 {
                text-align:center;
                margin-top: 0px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);


            }

        }

        .all-page-wrapper {.custom-grid-item.square-border {
            margin-left:0px;
            @media screen and (max-width: 700px) {


            }
        }}
    }
}
