body {
    a:link, a:visited, a:hover, a:active  {
        color:$mainBlack;
        text-decoration:none;
    }
    text-align:center;
    background-color: yellow;
    .bloc-left {
        
    }
}
