@import "../general/font.scss";
body {
    .bloc {overflow: hidden;}
    // background image
    margin: 0px;
    margin:0;
    font-family: helvetica;
    #site-container {
        @media only screen and (min-width: 500px) {
         
            padding-top: 15px;  
        }
        padding-top: 100px; 
        margin:0 auto;
        position: relative;
    }
}
