@import "../general/font.scss";
body {
    .bloc {overflow: hidden;}
    // background image


    margin:0;
    font-family: helvetica;
    #site-container {
        margin:0 auto;
        position: relative;
    }
}
