@import "../core/layout-rules.scss";

header {
    position: fixed;
    top: 0px;
    height:75px;
    z-index: 200;
    width: 100%;
    background-color: $mainWhite;
    transition: all 2s;
    &.activate-shadow {
        box-shadow: 3px 3px 3px rgba(125, 125, 125, 0.5);
    }
    @media screen and (max-width: 1060px) {
        height: 75px;
    }

    .logo-container {

        @media screen and (max-width: 900px) {
            display: block;
        }
        display: inline-block;
        position: absolute;
        padding-left: 25px;
        padding-top: 13px;
        /* Video starts at 10*/
        z-index: 11;
        img {
            height: 50px;
            @media screen and (max-width: 1175px) {

                height: 50px;
            }
            @media screen and (max-width: 1060px) {
                padding-top: 0px;
                height: 50px;
            }
        }
    }

    #menu-container {
        text-align: right;
        padding-right: 30px;
        padding-top: 10px;
        z-index: 1000;

        @media screen and (max-width: 1175px) {
            text-align: right;
        }
        #menu-div {
            margin-top:3px;
        }
        nav {
            color: $mainBlue;
            text-transform: uppercase;

            .container-connection {

                .underline {
                    border-bottom: solid $mainBlue 1px;
                }
                p {
                    font-size: 13px;
                    padding-right: 5px;
                }
            }
            ul {
                list-style: none;
                a {
                    font-size: 12px;
                    // Macbook 13 inches
                    @media screen and (max-width: 8000px) {
                        width: 10px;
                        font-size: 12px;
                    }
                }
                li {
                    display: inline-block;
                    transition: all 0.5s;
                    padding: 13px;
                    cursor: pointer;

                    &.active-menu-user {
                        display: none;
                    }
                    &:hover {
                        background-color: $mainWhite;
                    }
                    &.menu-membership {
                        background-color: $mainGreen;
                        color: $mainWhite;
                    }

                }

                .connection {
                    display: inline-block;

                    .underline {
                    }
                    h3, p {
                        margin: 0px;
                    }
                    h3 {
                        padding-top: 15px;
                    }
                    @media screen and (max-width: 8000px) {
                        margin-left: 0px;
                        display: inline;
                    }
                    @media screen and (max-width: 990px) {
                        margin-left: 0px;
                    }
                }
                .menu-membership {
                    font-size:12px;
                    margin-top: -1px;
                    padding:13.5px;
                }
            }
        }
        // Mobile menu
        @media screen and (max-width: 1060px) {
            padding-right: 0px;
            position: absolute;
            right:-500%;
            width: 100vw;
            height: 100vh;
            background-color: $mainWhite;
            nav {
                width:100%;
                @include center-content;
                ul {
                    width:100%;
                    padding:0px;
                    li {
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
    }
}
