@import "../general/font.scss";
@import "../general/colors.scss";
@import "../core/layout-rules.scss";
.video-container {
    text-align:center;
}
.main-page-video {
        margin-top:50px;
        margin-bottom:50px;
        position: relative;

}
.home-page-infos {
    p {
        text-align:center;
    }
}
// Tweaking around z index for canvas and site container click
#particles-js {

}
#site-container {
    // By pass element to bind grip click hover particle
    .grid-item {
        background-color: $transparentYellow;

    }
}

// Bypass default video css
body {
    #site-container {

        @media (max-width:680px) {
            margin-left:0px;

        }
        video {
            &.main-page-video {
                width:80%;
                height:50%;
            }
        }
    }
}

#model-homepage-container {

    max-width:100%;
    background-color: $transparentYellow;
    position: relative;
    z-index:1500;
    .model-bloc {
        padding-left:0px;
        p {
            margin-top:0px;
        }
    }
    .plus-to-know-more  {
        display: inline-block;
        transition:all 0.5s;
        &.active-button {
            font-size:24px;
            transform: rotate(135deg);
        }

    }
}

#home-page-services-container {

    position: relative;
    background-color:$transparentYellow;

    .unique-service {


        position: relative;
        width: 312px;
        .plus-to-know-more {
            position: absolute;
            right: 2px;
            transition: all 0.5s;
            &.active-button {
                font-size:24px;
                transform: rotate(135deg);
            }
        }
    }

}

#formulas-homepage-container {
    position: relative;
    background-color: $transparentYellow;
    max-width:80%;
    margin-bottom:25px;
    .equation {
        margin-top:15px;
        text-align: center;
        .symbol {
            display: inline-block;
            margin-bottom:15px;
            margin-top:15px;
        }

        .square-border {
            margin:0 auto;
            display: block;
            height:100px;
            width:300px;
            border: solid 6px $mainBlack;
            position: relative;
            margin-bottom:15px;
            h4 {
                margin-top:0px;
                @include center-content;
            }

        }
    }
}
#contact-homepage-container {

}
#mission-homepage-container {
    padding-bottom:20px;
    max-width:80%;
    margin-bottom:10px;
}
#projects-homepage-container {

}
