@import "../core/layout-rules.scss";
.search-result {
    
    background-color:rgba(0,0,0, 0.5);
    transition:all 0.2s;
    &.active-view {
            
    }    

}

#search-result-container {

    position:absolute;
    z-index:500;
    background-color:$mainYellow;
    transition:all 0.5s;
    padding-left:15px;
    top:50px;
    left:0px;

    // Overiding Grid max width
    max-width:100%;

    // Redefining width 
    width:105%;
    height:100vh;

}