@import "../core/layout-rules.scss";
.search-result {
    
    background-color:rgba(0,0,0, 0.5);
    transition:all 0.2s;
    &.active-view {
            
    }    

}

#search-result-container {

    position:absolute;
    z-index:500;
    background-color:lightgray;
    transition:all 0.5s;
    top:30px;
    
}