
#single-blog {
    width:80%;
    .post-header {

        .blog-title {
            margin-top:25px;


        }

        .header-image-container {
            text-align: center;
            img {
                height:auto;
                width: 350px;
                display:inline-block;

            }

        }

    }
    .post-body {
        p {
            font-size:12px;
        }
    }
}
