
#single-blog {

    padding-top:80px;

    .blog-container  {
        width:800px;
        margin:0 auto;
    }
    .post-header {

        .blog-title {
            margin-top:25px;

        }

        .header-image-container {
            text-align: center;
            img {
                height:auto;
                width: 100%;
                display:inline-block;

            }

        }

    }
    .post-body {
        p {
            font-size:12px;
        }
    }
}
