.single-team-member-container {

    width:100%;

    h4 {

        margin-top:0px;
        margin-bottom:0px;
     }
    img {
        padding-bottom:15px;
        height:500px;
        width:500px;
     }

     .single-team-member-socialnetworks {
         padding-top:15px;
         padding-bottom:15px;
         li {
             padding-left:5px;
         }
     }
}
